body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%; /* 100% + 10px + 10px */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    width: 300px;
}

button{
    border: 1px solid #5f9341;
    background-color: #5f9341;
    width: 150px;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}
#delete-btn{
    background-color: white;
    color: #5f9341;
}
ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 20px;
}
li{
    margin-top: 5px;    
}
li a{
    color: #5f9341;
}
